.dialogsItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.imgItems {
    width: 40px;
    border-radius: 50%;
}
.dialogsItem.active a {
    color: darkgreen;
}

.dialogsItem.active a.dialogsItemLink {
    color: firebrick;
    text-decoration: none;
}